
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #dcd7c9;
  font-family: "Instrument Serif", serif;
}


#whitenav {
  background-image: url("../FrontendImages/Henrybackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}

.navbar2 {
  display: flex;
  align-items: center;
  gap: 12px;

  font-family: "Jim Nightshade", cursive;
  font-size: 32px;
  color: white;
  text-decoration: none;
}


.main-content {
  padding: 60px 0;
  min-height: calc(100vh - 260px);
}

.page-title {
  font-family: "Jim Nightshade", cursive;
  font-size: 42px;
  margin-bottom: 25px;
}

.portrait {
  width: 260px;
  border-radius: 14px;
}


.info-box {
  background-color: #5a0000;
  color: white;

  height: 130px;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  text-align: center;
}


footer {
  background-image: url("../FrontendImages/Henrybackground.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;

  color: white;
  text-align: center;

  padding: 25px 0;
  font-size: 18px;

  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}

footer a {
  color: white;
  text-decoration: underline;
}
