* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Instrument Serif", serif;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #DCD7C9; 
}
#whitenav {
  background-image: url("../FrontendImages/Henrybackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; 
  padding: 15px 30px;
}
.navbar2 {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: "Jim Nightshade", cursive;
  font-size: 64px;
  color: white;
  text-decoration: none;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
.main-content {
  flex: 1;
  padding: 80px 20px;
  background-color: #DCD7C9; 
}
.content-panel {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}
.page-title {
  font-size: 36px;
  font-style: italic;
  margin-bottom: 30px;
}
.portrait {
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  margin-bottom: 40px;
  height: 400px;
  width:280px;
  object-fit: cover;
}

.info-box {
  background-color: #4E0000;
  color: white;
  min-height: 300px;
  min-width: 300px;
  padding: 10px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.info-box:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.4);
}

.return-btn {
  display: inline-block;      
  width: auto;                
  padding: 8px 26px;

  background-color: #4E0000;
  color: white;

  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;

  margin: 30px auto 0;        
}


footer {
  background-image: url("../FrontendImages/Henrybackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  padding: 30px;
  color: white;
  font-size: 20px;
  text-align: center;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
footer a {
  color: white;
  text-decoration: underline;
}
