 body{
    background: url('../FrontendImages/Henrybackground.png') center/cover no-repeat;
    min-height:100vh

}

#whitenav {
    background-color: transparent
}

.navbar2 {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 81px;
    color: white;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

    
}

.container {
    height: 800px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 125px;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
}
    

footer a{
    color: white;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

}