 body{
    background: url('../FrontendImages/Henrybackground.png') center/cover no-repeat;
    min-height:100vh

}

#whitenav {
    background-color: transparent
}

.navbar2 {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 81px;
    color: white;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

    
}

.container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginbox {
    background-color: #4e0000;
    border-radius: 10px;
    width: min(90%, 800px);
    padding: 50px 30px;
    box-sizing: border-box;

}

.loginform{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px;
    margin: 0px;

   
}
.loginform label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    font-family: "Instrument Serif", serif;
    color: white;
    font-size: 25px;
}
.loginform input,
.loginform select
 {
    padding: 5px;
    font-size: 16px;
    width: 80%;  
}
.loginform button{
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Instrument Serif", serif;
    
    
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 125px;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

}
    

footer a{
    color: white;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

}