 body{
    display:flex;
    background: url('../FrontendImages/Henrybackground.png') center/cover no-repeat;
    min-height:100vh;
    flex-direction: column;


}

#whitenav {
    background-color: transparent
}

.navbar2 {
    font-family: "Jim Nightshade", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 81px;
    color: white;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

    
}
.usericon {
  margin-left: auto;
}

.dropdown-item{
  display: block;       
  margin: 0 auto;       
  padding: 5px 15px;    
  text-align: center;  
  border: none; 
}
.dropdown-menu.dropdown-menu-end.p-3{
  border-radius: 10px;
}
.logout {
  background-color: #4e0000;
  border-radius: 10px;
  color: white;
  font-family: "Instrument Serif", serif;
  display: block;       
  margin: 0 auto;       
  padding: 5px 15px;    
  text-align: center;  
  border: none;   
}
.wifecontainer{
    flex:1;
    background-color: #DCD7C9;
    width: 100%;
    height:auto;
    padding-bottom: 50px;
}
.wifepicker {
    font-family: "Instrument Serif", serif;
    text-align: center;
    padding-top: 20px;
}

.col-6 img{
  
    width: 566px;
    height: 198px;
    object-fit: cover;
    object-position: center 10%;
}
.img-box{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
}
.img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top 10%;
}
.img-label{
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-size: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
    font-family: "Instrument Serif", serif;
}
.pickera{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    background-color: #4E0000;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.pickera img{
    width:80%;
    height:80%;
    object-fit: contain;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 125px;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
    padding: 30px;
}
    

footer a{
    color: white;
    text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;

}